@layer components {
  .habitacion-card {
    @apply text-4xl font-bold py-4 px-8 w-fit rounded-lg;
  }
  
  .habitacion-card--libre {
    @apply text-primario bg-white border-primario border-4;
  }
  .habitacion-card--ocupada {
    @apply text-white bg-primario;
  }
  .habitacion-card--reservada {
    @apply text-white bg-morado;
  }
}
  /* .habitacion-card {
    @apply text-4xl font-bold py-4 px-8 w-fit rounded-lg;
  }
  
  .habitacion-card--libre {
    @apply text-primario bg-white border-primario border-4;
    outline: 2px solid blue;
  }
  .habitacion-card--ocupada {
    @apply text-white bg-primario;
    outline: 2px solid blue;
  }
  .habitacion-card--reservada {
    @apply text-white bg-morado;
    outline: 2px solid purple;
  } */